[Unit]
Description=FreeSwitch container
After=docker.service network-online.target rt_runtime_us.service kazoo-docker-network.service fakehost-docker.service
Requires=docker.service rt_runtime_us.service kazoo-docker-network.service fakehost-docker.service
Wants=rt_runtime_us.service fakehost-docker.service dns-docker.service
AssertPathExists=/etc/default/kazoo-docker
AssertPathExists=/etc/kazoo/kazoo-configs-freeswitch/freeswitch/freeswitch.xml

[Service]
Restart=always
EnvironmentFile=/etc/default/kazoo-docker
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f fs${NODEINDEX}
ExecStart=/usr/bin/docker run -t --rm=true \
                 --log-driver=none \
                 --name fs${NODEINDEX} \
                 --network host \
                 --dns ${IPDNS} \
                 --hostname media${NODEINDEX}${HOSTNAMESUFFIX} \
                 --add-host haproxy${HOSTNAMESUFFIX}:${IPHAPROXY} \
                 --cap-add=sys_nice \
                 --cpu-rt-runtime=900000 \
                 --cgroup-parent=/system.slice \
                 --ulimit rtprio=99 \
                 --ulimit nofile=999999 \
                 -e SOUND_RATES=8000 \
                 -e SOUND_TYPES=music:en-us-callie \
                 -e EPMD=true \
                 -v freeswitch-logs:/var/log/freeswitch \
                 -v freeswitch-sounds:/usr/share/freeswitch/sounds \
                 -v freeswitch-tmp:/tmp \
                 -v /etc/kazoo/kazoo-configs-freeswitch/freeswitch:/etc/freeswitch \
                 -v /etc/default/kazoo-docker:/etc/default/kazoo-docker \
                 safarov/freeswitch:1.8.5

ExecStartPost=/opt/bin/overlay2host.sh media${NODEINDEX} fs${NODEINDEX}
ExecStop=/usr/bin/docker stop fs${NODEINDEX}
ExecStopPost=/usr/bin/ip link delete veth-fs${NODEINDEX}

[Install]
WantedBy=kazoo.target
